#total{
    display: flex;
    justify-content: space-around;
}
.maclass{
    height: 120px;
    background-color: red;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#d1{
    width: 15%;
    height: 100px;
}
#d2{
    width: 15%;
    height: 100px;
}
#d3{
    width: 15%;
    height: 100px;
}
#d4{
    width: 300px;
    height: 100px;
}
#d5{
    width: 15%;
    height: 100px;
}
#d6{
    width: 15%;
    height: 100px;
}